{% extends "base.html" %}
{%  load static %}

{% block body_class %}feature{% endblock %}

{% block content %}
<div class="jumbotron col-md text-light">
  <h1 class="display-4 blueprint">{{ page.hero_headline }}</h1>
  <div class="row">
	  <div class="col-md">
	  <p class="lead">{{ page.hero_text }}</p>
	  <a class="btn btn-primary btn-lg" href="{{ event.registration_link }}" role="button">Register Now</a>
	  	<a class="btn btn-outline-primary btn-lg" href="{{ event.hotel_link }}" role="button">Book Hotel</a>
	  </div>
	  <div class="col-md announcement-container">
	  </div>
  </div>
</div>
<div id="content">
    <div class="row">
	    <div class="col-md">
		    <div class="card">
		        <div class="card-block">
			        <img src="{% static 'img/play.jpg' %}" class="card-img-top" />
			        <div id="content">
			            <h3 class="card-title">Play</h3>
			            <p class="card-text">Come to our play area to unwind and have some fun.  Our play area is open 24 hours and has all the console, arcade, LAN, VR, and tabletop gaming your little gamer heart desires.  You can also take a break and play with Legos or gather your friends up and take a turn in our Escape Room.  And stay tuned for new test chambers!</p>
			        </div>
		        </div>
		    </div>
	    </div>
	    <div class="col-md">
		    <div class="card">
			    <div class="card-block">
				    <img src="{% static 'img/learn.jpg' %}" class="card-img-top" />
			        <div id="content">
				        <h3 class="card-title">Learn</h3>
				        <p class="card-text">Have you ever wanted to know what a NURBS object is?  Me neither, but you can learn that and a whole lot more in our panels and workshops.  Whether you want to learn to pick locks, gain a deep appreciation for the genius that is Metal Gear Solid 4, or even just definitively determine the best soda in the world, we promise to entertain and inform.  Hey, even useless knowledge is knowledge.</p>
			        </div>
			    </div>
		    </div>
	    </div>
	    <div class="col-md">
		    <div class="card">
		        <div class="card-block">
			        <img src="{% static 'img/create.jpg' %}" class="card-img-top" />
			        <div id="content">
			            <h3 class="card-title">Create</h3>
			            <p class="card-text">Put your newfound knowledge to work in our Create area.  Visit our makerspace and build your own circuit board, or sew a plushie.  Take workshops in leather working, foam crafting, mould making, and more!  Show off your creations, be it cosplay, armor, props, or more.  If you have a skill you'd like to teach people, run a workshop and share your knowledge!  Bring parts for your next PC build and take part in our PC build challenge.  Even get help on creating your own video game.  The sky, or our insurance policy coverage, is the limit</p>
			        </div>
		        </div>
		    </div>
	    </div>
	    <div class="col-md">
		    <div class="card">
			    <div class="card-block">
				    <img src="{% static 'img/rock.jpg' %}" class="card-img-top" />
				    <div id="content">
				        <h3 class="card-title">Rock</h3>
				        <p class="card-text">Each MAGFest event is a musical mecca, and this is no different.  Come catch our awesome lineup of concerts, and find your new favorite VGM artist.  You can also take your own musical skills to the next level with workshops in our Jam Clinic, and you can learn audio engineering and sound design with our concert hall workshops as well.</p>
				    </div>
			    </div>
		    </div>
	    </div>
    </div>
</div>
<div class="row"></div>
{% endblock %}
