{% load static %}

<div class="header">
    <img id="logo" src="{% static 'img/maglabs2018.png' %}" />
    <div id="razzle-dazzle">
        <img id="mark_center" src="{% static 'img/mark_center.svg' %}" />
        <img id="crowd" src="{% static 'img/crowd.svg' %}" />
    </div>
    <div id="event-info">
        <h2>September 7-9, 2018</h2>
        <h2>Hilton Alexandria Mark Center</h2>
    </div>
</div>
{% block main_navigation %}
<nav class="navbar sticky-top navbar-expand-lg navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedCo$
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {# get_site_root as site_root #}
            {# top_menu parent=site_root calling_page=self #}
        </ul>
        <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="faq.html">FAQ</a>
            </li>
            <a class="nav-item btn btn-outline-primary" href="{{ event.hotel_link }}" role="button">Book Hotel</a>
            <a class="nav-item btn btn-primary" href="{{ event.registration_link }}" role="button">Register Now</a>
        </ul>
    </div>
</nav>
{% endblock %}
