{% extends "base.html" %}
{% load static %}

{% block body_class %}feature{% endblock %}

{% block content %}
<div class="jumbotron col-md text-light">
    <div class="row">
        <div class="col-md-9">
            <h5>{{ settings.utils.EventSettings.event_name }} Guest</h5>
            <h1 class="display-4 blueprint">{{ page.guest.name }}</h1>
	        <p class="lead">{{ page.guest.bio|safe }}</p>
        </div>
        <div class="col-md-3">
            <img src="{{ page.guest.picture }}" width="200" height="200" alt="{{ page.guest.name }} photo">
	    </div>
    </div>
</div>
{%  endblock %}